<h1>Edit user</h1>
<form [formGroup]="userForm">
  <label>Username</label>
  <div>
    <input type="text" placeholder="Username" formControlName="username">
    <div *ngIf="userForm.controls['username'].invalid && userForm.controls['username'].touched" class="text-danger">
      <div *ngFor="let err of getErrors(userForm.get('username')); trackBy:errorTrack">
        {{err['key']}} | translate : {{err['msg']}}
      </div>
    </div>
  </div>


  <input type="text" placeholder="Role" formControlName="role">

  <button type="submit" class="btn btn-dark" (click)="editUser()">Submit</button>
</form>
