<h1>Users</h1>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      User Id
    </th>
    <th>
      Username
    </th>
    <th>
      Email
    </th>
    <th>
      Role
    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>
      {{user.id}}
    </td>
    <td>
      {{user.username}}
    </td>
    <td>
      {{user.email}}
    </td>
    <td>
      {{user.role | titlecase}}
    </td>
    <td>
      <button type="button"  class="btn btn-warning" (click)="navigateToUserForm(user.id, user.username, user.role)">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-dark" *ngIf="hasPreviousPage" (click)="loadPrev()">Load Prev</button>
<button type="button" class="btn btn-dark" *ngIf="hasNextPage" (click)="loadNext()">Load Next</button>

