<h1>{{release.name | titlecase}}</h1>
<div>
  <img alt="album cover"  src="{{release.linkToCover}}" style="width: 200px; height: 200px">
</div>
<a (click)="navigateToArtist(release.author.id)"> by {{release.author.name}}</a>
<p>{{release.releaseDate}}</p>

<p *ngIf="release.description">{{release.description}}</p>
<button *ngIf="accessToContentManagment" (click)="navigateToReleaseForm(release.id)">Edit this Release</button>
<br>
<button *ngIf="accessToContentManagment" (click)="deleteRelease(release.id)">Delete this Release</button>
<h2>Songs</h2>
<p *ngIf="!release.songs || release.songs.length===0">No songs...</p>
<table>
  <thead>
  <tr>
    <th>

    </th>
    <th>
      Name
    </th>
    <th>
      Genre
    </th>
    <th>
      Feat.
    </th>
    <th>

    </th>
    <th>

    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let song of release.songs" (click)="navigateToSong(song.audioLink)">
    <th>
      <img src="{{release.linkToCover}}" style="width: 50px; height: 50px"  alt="album cover" >
    </th>
    <th>
      {{song.name | titlecase}}
    </th>
    <th>
      {{song.genre.name | titlecase}}
    </th>
    <th>
      <a *ngFor="let artist of song.artistsOnFeat" (click)="navigateToArtist(artist.id)"> {{artist.name}}</a>
    </th>
    <th>
      <button *ngIf="accessToContentManagment" (click)="navigateToSongForm(song.id, release.id)">Edit</button>
    </th>
    <th>
      <button type="button" *ngIf="accessToContentManagment" (click)="deleteSong(song.id)">Delete</button>
    </th>
  </tr>
  </tbody>
</table>
<button *ngIf="accessToContentManagment" (click)="navigateToSongForm('', release.id)">Add new song to this Release</button>
